@font-face {
    font-family: Rubik-Bold ;
    src: url(../font/Rubik-Bold.ttf);
    font-weight: 700;
    
}
@font-face {
    font-family: Rubik-Medium ;
    src: url(../font/Rubik-Medium.ttf);
    font-weight: 500;
    
}
@font-face {
    font-family: Rubik-Regular ;
    src: url(../font/Rubik-Regular.ttf);
    font-weight: 400;
    
}